@model Mohali_Property_Model.CustomerModel;
@{
    ViewData["Title"] = "SignUp";
}



<link rel="stylesheet" href="~/css/SignUp.css" asp-append-version="true" />





<form asp-controller="SignUp" asp-action="SignUp" method="post">
    
    <div id="login-box">
        <div class="left">
            <p style="color:green">@TempData["success_msg"]</p>
            <p style="color:red">@TempData["msg"]</p>

            <h1>Sign up</h1>


            <input type="text" name="customer_name" id="customer_name" asp-for="customer_name" placeholder="Customer Name" />
            <span asp-validation-for="customer_name" id="customer_name" class="text-danger"></span>
           @* <span style="color:red" id="ecustomername"></span>*@
            <input type="text" name="parent_name" id="parent_name" asp-for="parent_name" placeholder="Parent Name" />
            <span asp-validation-for="parent_name" id="parent_name" class="text-danger"></span>
            @*<span style="color:red" id="eparentname"></span>*@
            <input type="text" name="address" id="address" asp-for="address" placeholder="Address" />
            <span asp-validation-for="address" id="address" class="text-danger"></span>
          @* <span style="color:red" id="eaddress"></span>*@
            <input type="text" class="form-control" name="city" id="city" asp-for="city" placeholder="City">
            <span asp-validation-for="city" id="city" class="text-danger"></span>
           @* <span style="color:red" id="ecity"></span>*@
            <input type="text" name="customer_email" id="customer_email" asp-for="customer_email" placeholder="Customer Email" />
            <span asp-validation-for="customer_email" id="customer_email" class="text-danger"></span>
            @*<span style="color:red" id="ecustomeremail"></span>*@
            <input type="text" class="form-control" name="mobile_number" id="mobile_number"  placeholder="Mobile Number">
            <span asp-validation-for="mobile_number" id="mobile_number" class="text-danger"></span>
          @*  <span style="color:red" id="emobilenumber"></span>*@
            <input type="submit" name="signup_submit"  value="Sign me up" />

        </div>
        <div class="right">
            <img src="/Image/b1.jpg" style="height:525px; width:350px;" alt="Property Image" />
        </div>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="~/js/SignUp/SignUp.js"></script>

