@{
    ViewData["Title"] = "Login";
}

<style>
    h5 {
        color: white;
        text-align: center;
    }

    img {
        margin-top: 15px;
    }

</style>



<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />


<section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="form-area login-form">
                    <div class="form-content">
                        <h5>Mohali Property</h5>
                        <img src="/Image/property.jpeg" style="height:250px; width:300px;" alt="Property Image" />
                    </div>
                    <div class="form-input">
                        <span style="color:red">@TempData["Not_exist"]</span>
                        <span style="color:green">@TempData["exist"]</span>
                        
                        <h2>Forgot Password </h2>
                        <form asp-controller="Home" asp-action="ForgotPassword" method="post">
                            <div class="form-group">
                                <input type="text" id="email" name="email"  required>
                                <span style="color:red" id="eusername"></span>
                                <label>Enter Your email</label>
                            </div>
                            <div class="myform-button">
                                <button class="myform-btn"  type="submit">Send Reset Link</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

