
@{
    ViewData["Title"] = "SignUp";
}

<p>@TempData["success_msg"]</p>

<link rel="stylesheet" href="~/css/SignUp.css" asp-append-version="true" />





<form asp-controller="Customer" asp-action="AddCustomer" method="post">
<div id="login-box">
    <div class="left">
        <h1>Sign up</h1>

            <input type="text" name="customer_name" id="customer_name" placeholder="Customer Name" />
            <input type="text" name="parent_name" id="parent_name" placeholder="Parent Name" />
            <input type="text" name="address" id="address" placeholder="Address" />
            <input type="text" class="form-control" name="city" id="city" placeholder="City">
            <input type="text" name="customer_email" id="customer_email" placeholder="Customer Email" />            
            <input type="text" class="form-control" name="mobile_number" id="mobile_number" placeholder="Mobile Number">
        
            <input type="submit" name="signup_submit" value="Sign me up" />

    </div>  
    <div class="right">
        <img src="/Image/b1.jpg" style="height:450px; width:350px;" alt="Property Image" />
    </div> 
</div>
</form>



<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

