@{
	Layout = "_AdminDashboard";
}
<div class="card-group mt-5">
<div class="card text-white bg-primary ms-4"  style="max-width: 15rem;">
    <div class="card-header">Total kothies</div>
    <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-white bg-success  ms-4" style="max-width: 15rem;">
    <div class="card-header">Available Kothies</div>
    <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-white bg-danger ms-4" style="max-width: 15rem;">
        <div class="card-header">Expired Tokens</div>
    <div class="card-body">
        <h5 class="card-title">Expired Tokens</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-dark bg-warning  ms-4" style="max-width: 15rem;">
        <div class="card-header">On Hold Kothies</div>
    <div class="card-body">
        <h5 class="card-title">On Hold Kothies</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
</div>