

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/Admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
        
</head>
 
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark ">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Mohali_Property </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
           
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">            
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i> @TempData["admin_name"]
                    @{
                        TempData.Keep("admin_name");
                    }
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> 
                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="Logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" asp-action="Index" asp-controller="Admin">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Company
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="All_compnies" asp-controller="Company">All Companies</a>
                                <a class="nav-link" asp-controller="Company" asp-action="AddCompany">Add Company</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutss" aria-expanded="false" aria-controls="collapseLayoutss">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Kothies
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutss" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="showkothies" asp-controller="Kothi">All Kothies</a>
                                <a class="nav-link" href="/Kothi/Add_Kothi">Add Kothi</a>
                            </nav>
                        </div>
                        @*<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsetokens" aria-expanded="false" aria-controls="collapsetokens">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Tokens
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>*@
                        <div id="collapsetokens" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="showtokens" asp-controller="Token">Manage Tokens</a>
                                @*<a class="nav-link" onclick="addtoken()">Create Token</a>*@
                            </nav>
                        </div>

                       @*Manage Customers*@
                        <a class="nav-link collapsed" asp-controller="Customer" asp-action="ShowCustomer"  data-bs-target="#collapse_manage_customer" aria-expanded="false" aria-controls="collapse_manage_customer">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Customer
                            <div class="sb-sidenav-collapse-arrow"></div>
                        </a>
                        @*<div class="collapse" id="collapse_manage_customer" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-controller="Customer" asp-action="ShowCustomer">Manage Customer</a>
                                <a class="nav-link" asp-controller="Customer" asp-action="AddCustomer">Add Customer</a>

                            </nav>
                        </div>*@


                        <a class="nav-link collapsed"  data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">

                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Manage User
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" onclick="all_user_view()">Users List</a>
                                <a class="nav-link" onclick="add_user_view()">Add User</a>
                                </nav>
                                </div>
                                @*<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="401.html">401 Page</a>
                                        <a class="nav-link" href="404.html">404 Page</a>
                                        <a class="nav-link" href="500.html">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Charts
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tables
                        </a>
                    </div>*@
                </div>
              
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main id="mainbody">
                @RenderBody()
            </main>
            
        </div>
    </div>
    <script>
        function showcompanies() {
            //alert("heelo");

            $.ajax({
               
                type: "GET",
                url: "/Company/All_companies",
                success: function (data) {
                    $("#mainbody").html(data);
                }
                });
            }

        function addcompanies() {
            //alert("heelo");

            $.ajax({

                type: "GET",
                url: "/Admin/add_company_view",
                success: function (data) {
                    $("#mainbody").html(data);
                }
            });
        }

        function addkothi(){
        
           $.ajax({

               type:"GET",
                url: "/Kothi/add_kothi_view",
                success:function(data){
                  
                    $("#mainbody").html(data);
                }
                

           } );
        }


        function showkothies(){
            debugger;
            $.ajax({

                type: "GET",
                url: "/Kothi/showkothies",
                success: function (data) {
                    $("#mainbody").html(data);
                }
            });
        }


        function showtokens() {
            $.ajax({
                type: "GET",
                url: "/Token/showtokens",
                success: function (data) {
                    $("#mainbody").html(data);
                }
            });
       }

       function addtoken(){
           $.ajax({
                type: "GET",
                url: "/Token/addtokenview",
                success: function (data) {
                    $("#mainbody").html(data);
                }
            });

       }


        function showcustomers() {
                $.ajax({
                    type: "GET",
                    url: "/Customer/showcustomers",
                    success: function (data) {
                        $("#mainbody").html(data);
                    }
                });
       }


        function addcustomer() {
            debugger
            $.ajax({
                type: "GET",
                url: "/Customer/addcustomerview",
                success: function (data) {
                    $("#mainbody").html(data);
                }
            });


        }
        function add_user_view() {
            debugger;
            $.ajax({

                type: "GET",
                url: "/ManageUser/add_user_view",

                success: function (data) {
                    $("#mainbody").html(data);
                }
            });


        }




       


        
        function all_user_view() {
            debugger;
            $.ajax({
                    
                type: "GET",
                url: "/ManageUser/all_user_view",
                success: function (data) {
                    $("#mainbody").html(data);
                }
            });
        }


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
  
</body>
</html>
