@model MohaliProperty.Model.Company_profileVM;

@{
    Layout = "_AdminDashboard";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #add_company_form {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #p1 {
        opacity: 1;
        color: red;
    }

    #div2 {
        background-color: lightgrey;
        color: white;
    }

</style>

<div id="div1" class="container">

    <form asp-controller="Company" asp-action="AddCompany" method="post" enctype="multipart/form-data" id="add_company_form">
        <h3>Add Company</h3>

        <br />
        <div id="div2">
            <h3>Company Information</h3>

        </div>

        <p id="p1">* All Fields are Required</p>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Company</label>

                <i asp-validation-for="company" class="fa fa-info-circle"></i>

                <span asp-validation-for="company" class="text-danger"></span>
                <input type="text" class="form-control" name="company" id="company" placeholder="Company">
                @*<span style="color:red" id="ecompany"></span>*@

            </div>
            <div class="form-group col-md-6">
                <label>Company Name</label>
                <span asp-validation-for="company_name" class="text-danger"></span>
                <input type="text" class="form-control" name="companyname" id="companyname" placeholder="Company Name">
                @*          <span style="color:red" id="ecompanyname"></span>*@
            </div>
        </div><br />
        <div class="row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <span asp-validation-for="email" class="text-danger"></span>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                @* <span style="color:red" id="eemail"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label> Company Address</label>
                <span asp-validation-for="company_address" class="text-danger"></span>
                <input type="text" class="form-control" name="address" id="address" placeholder="Company Address">
                @*       <span style="color:red" id="eaddress"></span>*@
            </div>

        </div>
        <br />
        <div class="row">
            <div class="form-group col-md-6">
                <label>City</label>
                <span asp-validation-for="city" class="text-danger"></span>
                <input type="text" class="form-control" name="city" id="city" placeholder="City">
                @*    <span style="color:red" id="ecity"></span>*@
            </div>
            <div class="form-group col-md-4">
                <label>State</label>
                <span asp-validation-for="state" class="text-danger"></span>
                <select   asp-for="state" class="form-control">
                    <option value="">choose...</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
                @*  <span style="color:red" id="estate"></span>*@

            </div>

        </div>
        <br />

        <div class="row">

            <div class="form-group col-md-2">
                <label>PinCode</label>
                <input type="text" class="form-control" name="pincode" id="pincode">
                @* <span style="color:red" id="epincode"></span>*@
                <span asp-validation-for="pin_code" class="text-danger"></span>
            </div>

            <div class="form-group col-md-2">
                <label>Website</label>
                <input type="text" class="form-control" name="website" id="website">
                @* <span style="color:red" id="ewebsite"></span>*@
                <span asp-validation-for="website" class="text-danger"></span>
            </div>

            <div class="form-group col-md-2">
                <label>GST No</label>
                <input type="text" class="form-control" name="gst" id="gst">
                @* <span style="color:red" id="egst"></span>*@
                <span asp-validation-for="gst_number" class="text-danger"></span>
            </div>

            <div class="form-group col-md-2">
                <label>Status</label>
                <select asp-for="status" class="form-control">
                    <option value="" selected>choose...</option>
                    <option value="1" >Active</option>
                    <option value="2" >InActive</option>

                </select>
                    <span asp-validation-for="status" class="text-danger"></span>
                @* <span style="color:red" id="estatus"></span>*@
            </div>
            <div class="form-group col-md-2">
                <label>Mobile Number</label>
                <input type="text" class="form-control" name="mobilenumber" id="mobilenumber">
                @* <span style="color:red" id="emobilenumber"></span>*@
                <span asp-validation-for="mobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label>Landline Number</label>
                <input type="text" class="form-control" name="landlinenumber" id="landlinenumber">
                <span asp-validation-for="landlineNo" class="text-danger"></span>
                @*  <span style="color:red" id="elandlinenumber"></span>*@
            </div>
            <br />

        </div>
        <br />

        <div class="form-group col-md-6">
            <label for="company_logo">Company Logo</label>
            <span asp-validation-for="company_logo" class="text-danger"></span>
            <input type="file" name="company_logo" class="form-control" id="company_logo">
            @*  <span style="color:red" id="ecompany_logo"></span>*@
        </div><br /><br />




        <button type="submit" class="btn btn-primary">Submit</button>


        @*onclick="add_company()"*@
    </form>
</div>

<script src="/js/Admin/ManageCompany/AddcompanyVal.js"></script>

<script src="https://kit.fontawesome.com/61ebb60581.js" crossorigin="anonymous"> </script>


