
<style>
    #div1 {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
       
    }

    #btneditproduct:hover {
        
        cursor : pointer;
    }

    
</style>


<div id="div1">
    <h3>List of All Companies</h3>
    <table id="companytable" name="companytable" class="display responsive">
    <thead>
        <tr>

            <th>Id</th>
            <th>Company_name</th>
            <th>Company_address</th>
            <th>City</th>
            <th>State</th>
            <th>Pin_code</th>
            <th>Mobile_number</th>
            <th>Email</th>
            <th>Action</th>
            


        </tr>
    </thead>

</table>
</div>


@*edit modal*@
<div class="modal fade" id="EditProdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Companies details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="EditCloseModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="editModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="EditCloseModal()" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" onclick="Update()" id="editProduct">Update changes</button>
            </div>
        </div>
    </div>
</div>






<script>
    $(function () {
        getCompanies();
    });
    function getCompanies() {
        $.ajax({
            type: "GET",
            url: "/Admin/GetComopanyList",
            success: function (data) {
                debugger;
                $('#companytable').DataTable().clear().destroy();

                $('#companytable').dataTable({
                    processing: true,
                    
                    "aaData": data,
                    "order": [[0, 'desc']],
                    "columns": [
                        //{
                        //    "data": "id",
                        //    visible: false,
                        //    searchable: false,
                        //},

                        { "data": "company_id"},
                        { "data": "company_name" },
                        { "data": "company_address"},
                        { "data": "city" },
                        { "data": "state" },
                        { "data": "pin_code" },
                        { "data": "mobileNumber" },
                        { "data": "email" },
                        {
                            "mRender": function (data, type, row) {
                                //return ' <a id="btneditproduct" onclick="showeditcompanymodal(' + row.company_id + ')"  title="Edit" class="btn-text-size btn btn-primary btneditproduct" data-id=' + row.id + '>Edit</a>';
                                //return ' <a   class="btn-text-size " href="/Admin/editProduct/' + row.id+'" >Edit</a>';
                                return '<img src="/Image/edit.png"  height="20" width="20"  id="btneditproduct" onclick="showeditcompanymodal(' + row.company_id + ')"  title="Edit"  data-id=' + row.company_id + '>&nbsp;&nbsp;&nbsp;&nbsp; <img src="/Image/delete.png"  height="20" width="20"  id="btneditproduct" onclick="showeditproductmodal(' + row.company_id + ')"  title="Delete"  data-id=' + row.company_id + '>'
                            }

                        },

                        
                       

                        


                    ]
                })

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


    //it show the comopanydetail in editing mode

    function showeditcompanymodal(id) {
        $.get("/Admin/Editcompany/" + id,

            function (res) {
                debugger;
                if (res) {
                    $('#editModalBody').html(res);
                } else {
                    alert("Unsuccessful");
                }

            });

        $('#EditProdModal').modal("show");
    };


    function Update() {
        var data = new FormData();
        var form_data = $('#edit_company_form').serializeArray();
        $.each(form_data, function (key, input) {
            data.append(input.name, input.value)
        });

        var image = $("#company_logo").val();
        if (image != '') {
            var file_data = $('input[name = company_logo]')[0].files;
            for (var i = 0; i < file_data.length; i++) {
                data.append("image", file_data[i]);
            }
            $.ajax({
                url: '/Admin/update_company',
                type: "post",
                dataType: 'json',
                processData: false,
                contentType: false,
                data: data,

                success: function (res) {

                    if (res == 1) {

                        alert("Company updated");

                    }
                    if (res == 300) {
                        alert("only image is alowed to upload");
                    }
                    if (res == 301) {
                        alert("please upload only one file");
                    }
                    else {
                        alert("Please try again");

                    }
                }

            });

        }
    }

    function EditCloseModal() {
        $('#EditProdModal').modal("hide");
    }
















</script>

