
<form>
	<input type="text" placeholder="kothi number"/><br />
	<input type="text" placeholder="kothi size" /><br />
	<input type="text" placeholder="booking amount" /><br />
	<input type="text" placeholder="total Amount" /><br />
	<button type="button">Book Kothi</button>

</form>
