<style>
    #form {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #p1 {
        opacity: 1;
        color: red;
    }

    #div2 {
        background-color: lightgrey;
        color: white;
    }

</style>

<div id="div1" class="container">

@*
    comppany_name(drop down)
  //  kothi_number
  //  block
  //  kothi_size
  //  dimention
  //  plot area
  //  price
  //  bhk
    booking amount
  //  status*@



<form asp-action="Add_kothi" asp-controller="Kothi" method="post" id="form">
    <h3>Add Kothi</h3>
    
    <div id="div2">

     <h3> Kothi Information</h3>
     </div>
    <p id="p1">* All Fields are Required</p>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Kothi Number</label>
            <input type="text" class="form-control" name="kothi_Number" id="kothi_Number" placeholder="Kothi Number">
            <span style="color:red" id="ekothinumber"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Block</label>
            <input type="text" class="form-control" name="block" id="block" placeholder="Block">
            <span style="color:red" id="eblock"></span>
        </div>
    </div><br />
    <div class="row">
        
        <div class="form-group col-md-6">
            <label>Kothi Size</label>
            <input type="text" class="form-control" name="kothi_size" id="kothi_size" placeholder="Kothi Size">
            <span style="color:red" id="ekothisize"></span>
        </div>

        <div class="form-group col-md-6">
                <label>Kothi Description</label>
                <input type="text" class="form-control" name="kothi_description" id="plot_area" placeholder="Plot Area">
                <span style="color:red" id="eplotarea"></span>
        </div>
        
        </div>

    <div class="row">
            <div class="form-group col-md-6">
                <label>Dimension</label>
                <input type="text" class="form-control" name="dimension" id="dimension" placeholder="Denomination">
                <span style="color:red" id="edenomination"></span>
            </div>


        <div class="form-group col-md-6">
            <label>Plot Area</label>
                <input type="text" class="form-control" name="plot_area" id="plot_area" placeholder="Plot Area">
            <span style="color:red" id="eplotarea"></span>
        </div>

    </div>
    <br />

    <div class="row">
        
        <div class="form-group col-md-6">
            <label>Price</label>
            <input type="text" class="form-control" name="price" id="price" placeholder="Price">
            <span style="color:red" id="eprice"></span>
        </div>


        <div class="form-group col-md-6">
            <label>Bhk</label>
            <input type="text" class="form-control" name="bhk" id="bhk" placeholder="Bhk">
            <span style="color:red" id="ebhk"></span>
        </div>


    </div>
    <br />

 


    <div class="row">
        <div class="form-group col-md-6">
            <label>Booking Amount</label>
            <input type="text" class="form-control" name="token_amount" id="token_amount" placeholder="Token Amount">
            <span style="color:red" id="etokenamount"></span>
        </div>
        <div class="form-group col-md-2">
            <label>Status</label>
            <select name="status" id="status" class="form-control">
                <option selected>choose...</option>
                <option>Active</option>
                <option>InActive</option>

            </select>
            <span style="color:red" id="estatus"></span>
        </div>

    </div>
    <br />


    <button type="button" class="btn btn-primary" onclick="add_kothi()">Submit</button>

</form>

</div>
        <script>
            function  add_kothi()
            {
                validate();
        var valdata = $("#form").serialize();
       // alert("Really want to add?");

        $.ajax({
            url: '/Kothi/Add_kothi',
            type: "post",
            dataType: 'json',
            processData: false,
          
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: valdata,

                success: function (res) {

                if (res == 1) {

                    alert("Kothi Added");

                }
                else {
                    alert("Please try again");

                }

            }
        });
        }



            function validate()
            {

        var result = true;

        var kothi_Number = $("#kothi_Number").val();
        debugger;
        if (kothi_Number == "") {
            debugger;
            result = false;
            $("#ekothinumber").html("please enter  Kothi Number");

        }
        else {
            $("#ekothinumber").html("");
           
        }



        var block = $("#block").val();

        if (block == "") {
            result = false;
            $("#eblock").html("please enter Block ");

        }
        else {
            $("#eblock").html("");
           
        }

 
        var dimension = $("#dimension").val();

        if (dimension == "") {
            result = false;
           
            $("#edenomination").html("please enter Denomination ");

        }
        else {
            $("#edenomination").html("");
        }

       

        var kothi_unit = $("#plot_area").val();

        if (kothi_unit == "") {
            result = false;

            $("#eplotarea").html("please enter Plot Area ");
        }
        else {
            $("#eplotarea").html("");
            
        }

       

        var kothi_size = $("#kothi_size").val();

        if (kothi_size == "") {
            result = false;

            $("#ekothisize").html("please enter Kothi Size ");
        }
        else {
            $("#ekothisize").html("");
          
        }

       

        var unit_rate = $("#unit_rate").val();

        if (unit_rate == "") {
                result = false;
            $("#eunitrate").html("please enter Unit rate ");

            }
            else {
            $("#eunitrate").html("");
           
            }

     

        var token_amount = $("#price").val();

        if (token_amount == "") {
            result = false;
            $("#eprice").html("please enter Price ");

        }
        else {
         
            $("#eprice").html("");
        }


   
        var bookingAmount = $("#booking_amount").val();
        if (bookingAmount == "")
        {
            result = false;
            $("#ebookingamount").html("please enter booking Amount ");

        }
        else {

            $("#ebookingamount").html("");
        }
        

       
    var token_amount = $("#token_amount").val();

    if (token_amount == "") {
            result = false;

            $("#etokenamount").html("please enter Token Amount ");
        }
        else {
            $("#etokenamount").html("");;
        }



    var status = $("#status").val();
        if (status == "choose...") {
            result = false;
            $("#estatus").html("please enter status");

        }
        else {
            $("#estatus").html("");
         
            
        }

            return  result;
            }


        </script>