@model MohaliProperty.Model.KothiModel;


<h3>Edit Kothi</h3>

<form method="post" id="edit_kothi_form">

    <input type="hidden" asp-for="kothi_id" />
    <p>Kothi Number: <input type="text" asp-for="kothi_Number" /></p>
    <span style="color:red" id="ekothinumber"></span>

    <p>Block:<input type="text" asp-for="block" /></p>
    <span style="color:red" id="eblock"></span>

    <p>Denomination: <input type="text" asp-for="dimension" /></p>
    <span style="color:red" id="edenomination"></span>

    <p>Kothi Unit: <input type="text" asp-for="kothi_unit" /></p>
    <span style="color:red" id="ekothiunit"></span>

    <p>Kothi Size: <input type="text" asp-for="kothi_size" /></p>
    <span style="color:red" id="ekothisize"></span>

    <p>Unit rate:<input type="text" asp-for="unit_rate" /></p>
    <span style="color:red" id="ecompanyname"></span>

    <p>Price:<input type="text" asp-for="price" /></p>
    <span style="color:red" id="eprice"></span>

    <p>Token Amount:<input type="text" asp-for="token_amount" /></p>
    <span style="color:red" id="etokenamount"></span>

    <p> Booking Amount: <input type="text" asp-for="booking_amount"/></p>
    <span style="color:red" id="ebookingamount"></span>

    <input type="hidden" asp-for="status" id="sta" />

    <p>
        Status:
        <select id="status">
            @* <option value ="choose">choose</option>*@
            <option value="Active">Active</option>
            <option value="InActive">Inactive</option>
        </select>
        <span style="color:red" id="estatus"></span>
    </p>

</form>

<script>
    $(document).ready(function () {
      
        var s = $("#sta").val();
        $("#status").val(s);
    })
</script>
